.font-size-3 {
  font-size: 3rem;
}

#slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#slider:hover {
  overflow-x: clip;
}

.scroll-smooth {
  scroll-behavior: smooth;
}
.img-scroll-Nav {
  width: 200px;
}

/* .img-scroll-Nav:hover {
  transform: scale(1.6);
  transition: transform 500ms ease-out,
} */

#slider::-webkit-scrollbar {
  display: none;
}

.active {
  background: rgba(255,255,255,0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.mt-6-rem {
  margin-top: 6rem;
}

.modal-overflow {
  max-height: 500px;
  overflow-y: auto;
}