.font-size-3 {
  font-size: 3rem;
}

#slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  scroll-behavior: smooth;
}

.img-scroll-Nav {
  width: 200px;
}

#slider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#slider {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  touch-action: none;
}